@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {

    font-family: "Poppins";
}

h1 {
    text-align: center;
}

p {
    font-size: 1.2em;
    text-align: center;
}

button {
    width: 100px;
    display: block;
    background-color: black;
    color: white;
    margin: 10px auto;
    padding: 5px;
    border-radius: 20px;
    transition: 0.2s ease;
}

button:hover {
    width: 120px;
    font-size: 1em;
    cursor: pointer;
}

div#divJogo {
    width: 160px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
}

div.posJogo {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

div#pos1 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

div#pos2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

div#pos3 {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

div#pos4 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

div#pos5 {
    border: 1px solid black;
}

div#pos6 {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

div#pos7 {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

div#pos8 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

div#pos9 {
    border-top: 1px solid black;
    border-left: 1px solid black;
}